<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beagle Wizard</title>
    <link href="http://localhost:8000/fontawesome-free-5.14.0-web/css/all.css" crossorigin="anonymous" integrity="sha384-2u5nxrarE67xPTypS69k1tpTaYbAYZFApdwSbK4AnaNcmMWDf+b0GgCHRQaPPP17" rel="stylesheet">
    <link href="http://localhost:8000/bulmaswatch-darkly-0.8.1.min.css" crossorigin="anonymous" integrity="sha384-8lDxaFUSY2k04pcvbaw/ylpiGVb/Y5bfNwGM8wHY0BWNcxH6qGy85xNSxO225LzY" rel="stylesheet">
</head>
<body>

<!-- notifications -->

{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <div class="notification">{{ message }}</div>
{% endfor %}

{% if not current_user.is_authenticated %}

<!-- login -->

<form action="{{ urls.login }}" method="post">
    {{ forms.login.hidden_tag() }}
    <div class="field">
        {{ forms.login.name.label(class_='label') }}
        <div class="control">
            {{ forms.login.name(class_='input') }}
        </div>
    </div>
    <div class="field">
        <div class="control">
            {{ forms.login.submit(class_='button') }}
        </div>
    </div>
</form>

{% else %}

<!-- header -->

<section class="section">
<div class="container">
    {{ current_user.name }} | <a href="{{ urls.logout }}">logout</a>
</div>
</section>

<section>
<div class="container">
<div class="columns">

<div class="column is-three-quarters">

<!-- bookmarks -->

<form>
    <div class="field has-addons">
        <div class="control has-icons-left">
            {{ forms.add_bookmark.label(class_='input', placeholder='Bookmark label') }}
            <span class="icon is-small is-left">
                <i class="fas fa-bookmark"></i>
            </span>
        </div>
        <div class="control has-icons-left">
            {{ forms.add_bookmark.url(class_='input', placeholder='URL') }}
            <span class="icon is-small is-left">
                <i class="fas fa-external-link-alt"></i>
            </span>
        </div>
        <div class="control has-icons-left">
            {{ forms.add_bookmark.text(class_='input', placeholder='Description') }}
            <span class="icon is-small is-left">
                <i class="fas fa-sticky-note"></i>
            </span>
        </div>
        <div class="control">
            <button id="bookmark-add" class="button" type="button">
                <i class="fas fa-plus" title="Add tag"></i>
            </button>
        </div>
    </div>
</form>

<div id="bookmark-list"></div>

</div>
<div class="column is-one-quarter">

<!-- tags -->

<form>
    <div class="field has-addons">
        <div class="control has-icons-left">
            {{ forms.add_tag.label(class_='input', placeholder='Tag label') }}
            <span class="icon is-small is-left">
                <i class="fas fa-tag"></i>
            </span>
        </div>
        <div class="control">
            <button id="tag-add" class="button" type="button">
                <i class="fas fa-plus" title="Add tag"></i>
            </button>
        </div>
    </div>
</form>

<div id="tag-list"></div>

</div>

</div>
</div>
</section>

{% endif %}

<!-- footer -->

<footer class="footer">
    <div class="content has-text-centered">
        <p>Diagnostic info, I guess?</p>
    </div>
</footer>

<!-- templates -->

<script id="bookmark-table-template" type="text/template">
    <thead>
        <tr>
            <td>Link</td>
            <td>Words</td>
            <td>Tags</td>
            <td></td>
        </tr>
    </thead>
    <tbody></tbody>
</script>

<script id="bookmark-template" type="text/template">
    <td>
        <a href="<%= url %>" target="_blank">
            <%= label %>
            <i class="fas fa-external-link-alt"></i>
        </a>
    </td>
    <td><%= text %></td>
    <td id="tags-<%= id %>">
        <% _.each(tags, function(tag) { %>
            <span class="tag">
                <%= tag.label %>
                <button id="delete-<%= tag.id %>" class="delete is-small" type="button">x</button>
            </span>
        <% }); %>
    </td>
    <td>
        <button id="delete-<%= id %>" class="delete" type="button">x</button>
    </td>
</script>

<script id="tag-table-template" type="text/template">
    <thead>
        <tr>
            <td>Tag</td>
            <td></td>
        </tr>
    </thead>
    <tbody></tbody>
</script>

<script id="tag-template" type="text/template">
    <td>
        <a href="/t/<%= id %>"><%= label %></a>
    </td>
    <td>
        <button id="delete-<%= id %>" class="delete" type="button">x</button>
    </td>
</script>

<!-- scripts -->

<script defer src="http://localhost:8000/jquery-3.5.1.js" crossorigin="anonymous" integrity="sha384-/LjQZzcpTzaYn7qWqRIWYC5l8FWEZ2bIHIz0D73Uzba4pShEcdLdZyZkI4Kv676E"></script>
<script defer src="http://localhost:8000/underscore-1.10.2.js" crossorigin="anonymous" integrity="sha384-/QQLKwe4iK6y3VuoTgrApMXZmDkYApTkPc+Xuea/O+iyWj1xMX6pqNtgMGsR/a1i"></script>
<script defer src="http://localhost:8000/backbone-1.4.0.js" crossorigin="anonymous" integrity="sha384-nhWt56PME93S1JQLa+kxZkVkAPQAVXJ2QFp2upRdyHKS83dOhoiHLwkiWMcLjmPc"></script>
<script defer src="http://localhost:8000/backbone.radio-v2.0.0.js" crossorigin="anonymous" integrity="sha384-asKSs9di8STRVbTNegrxOrlfDkv3kIaXmtK/FoUOG1ZL/fZ8+2B3B/YFsIHbGhL7"></script>
<script defer src="http://localhost:8000/backbone.marionette-v1.8.8.js" crossorigin="anonymous" integrity="sha384-WSEzdcPxfZkqBx9920DgBjzBc5CZMHTFV0aTF20xiQptpDLIgmPJSCPU2AHFe5dO"></script>
<script defer src="/static/scripting.js"></script>

</body>
</html>
