<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beagle Wizard</title>
</head>
<body>

{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <div>{{ message }}</div>
{% endfor %}

{% if not current_user.is_authenticated %}
    <form action="{{ urls.login }}" method="post">
        {{ forms.login.hidden_tag() }}
        <div>{{ forms.login.name.label }}</div>
        <div>{{ forms.login.name(size=32) }}</div>
        <div>{{ forms.login.submit() }}</div>
    </form>
{% else %}
    <div>
        {{ current_user.name }} | <a href="{{ urls.logout }}">logout</a>
    </div>
    <form action="{{ urls.add_bookmark }}" method="post">
        {{ forms.add_bookmark.hidden_tag() }}
        <div>{{ forms.add_bookmark.label.label }}</div>
        <div>{{ forms.add_bookmark.label(size=32) }}</div>
        <div>{{ forms.add_bookmark.url.label }}</div>
        <div>{{ forms.add_bookmark.url(size=32) }}</div>
        <div>{{ forms.add_bookmark.text.label }}</div>
        <div>{{ forms.add_bookmark.text(size=32) }}</div>
        <div>{{ forms.add_bookmark.submit() }}</div>
    </form>
    <form action="{{ urls.add_tag }}" method="post">
        {{ forms.add_tag.hidden_tag() }}
        <div>{{ forms.add_tag.label.label }}</div>
        <div>{{ forms.add_tag.label(size=32) }}</div>
        <div>{{ forms.add_tag.submit() }}</div>
    </form>
    <table>
        <thead>
            <tr>
                <td>Link</td>
                <td>Words</td>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in bookmarks %}
                <tr>
                    <td>
                        <a href="{{ bookmark.url }}">{{ bookmark.label }}</a>
                    </td>
                    <td>{{ bookmark.text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>
