<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beagle Wizard</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>

{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <div>{{ message }}</div>
{% endfor %}

{% if not current_user.is_authenticated %}
    <form action="{{ urls.login }}" method="post">
        {{ forms.login.hidden_tag() }}
        <div>{{ forms.login.name.label }}</div>
        <div>{{ forms.login.name(size=32) }}</div>
        <div>{{ forms.login.submit() }}</div>
    </form>
{% else %}
    <div>
        {{ current_user.name }} | <a href="{{ urls.logout }}">logout</a>
    </div>
    <h2>Bookmarks</h2>
    <form>
        <div>
            {{ forms.add_bookmark.label.label }}
            {{ forms.add_bookmark.label(size=32) }}
            {{ forms.add_bookmark.url.label }}
            {{ forms.add_bookmark.url(size=32) }}
            {{ forms.add_bookmark.text.label }}
            {{ forms.add_bookmark.text(size=32) }}
            <button id="bookmark-add" type="button">Add</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <td>Link</td>
                <td>Words</td>
                <td>Tags</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="bookmark-list"></tbody>
    </table>
    <h2>Tags</h2>
    <form>
        <div>
            {{ forms.add_tag.label.label }}
            {{ forms.add_tag.label(size=32) }}
            <button id="tag-add" type="button">Add</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <td>Tag</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tag-list"></tbody>
    </table>
{% endif %}

<script id="bookmark-template" type="text/x-handlebars-template">
    {% raw %}
        <td>
            <a href="{{ url }}">{{ label }}</a>
        </td>
        <td>{{ text }}</td>
        <td id="tags-{{ id }}"></td>
        <td>
            <button id="delete-{{ id }}" type="button">x</button>
        </td>
    {% endraw %}
</script>

<script id="bookmark-tag-template" type="text/x-handlebars-template">
    {% raw %}
        {{ label }}
        <button id="delete-{{ id }}" type="button">x</button>
    {% endraw %}
</script>

<script id="tag-template" type="text/x-handlebars-template">
    {% raw %}
        <td>
            <a href="/t/{{ id }}">{{ label }}</a>
        </td>
        <td>
            <button id="delete-{{ id }}" type="button">x</button>
        </td>
    {% endraw %}
</script>

<script defer src="http://localhost:8000/jquery-3.5.1.js" crossorigin="anonymous" integrity="sha384-/LjQZzcpTzaYn7qWqRIWYC5l8FWEZ2bIHIz0D73Uzba4pShEcdLdZyZkI4Kv676E"></script>
<script defer src="http://localhost:8000/handlebars-v4.7.6.js" crossorigin="anonymous" integrity="sha384-ZBjbLpkFg3p7nRvR+SIhq1JPzKvnCaGumcLPckMQbA+p4iHXWCcN8mfig+sM/Dop"></script>
<script defer src="http://localhost:8000/underscore-1.10.2.js" crossorigin="anonymous" integrity="sha384-/QQLKwe4iK6y3VuoTgrApMXZmDkYApTkPc+Xuea/O+iyWj1xMX6pqNtgMGsR/a1i"></script>
<script defer src="http://localhost:8000/backbone-1.4.0.js" crossorigin="anonymous" integrity="sha384-nhWt56PME93S1JQLa+kxZkVkAPQAVXJ2QFp2upRdyHKS83dOhoiHLwkiWMcLjmPc"></script>
<script defer src="/static/scripting.js"></script>

</body>
</html>
